
body {
  background-image: url("/static/imagenes/fondo_RegresionLineal.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
  animation: fadeIn 1.5s ease-in-out;
}



.container {
  max-width: 1500px;
}

/* --- Cards --- */
.card {
  background: rgba(255, 255, 255, 0.1); /* Transparente con un leve blanco */
  backdrop-filter: blur(6px);           /* Difumina el fondo detrás */
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 20px;
  color: #080808; /* Texto claro para contraste */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.card-body {
  padding: 2.2rem;
}


.card-title,
.fw-semibold {
  font-family: "Merriweather", "Georgia", serif;
  font-weight: 700;
  color: #0f172a; /* azul oscuro elegante */
  margin-bottom: 1rem;
  letter-spacing: 0.5px;
}

h4, h5 {
  border-left: 4px solid #2563eb; /* azul acento */
  padding-left: 0.8rem;
  margin-bottom: 1rem;
}


.card-text {
  font-size: 1.05rem;
  margin-bottom: 1rem;
  text-align: justify;
  color: #0e151e;
}


ul {
  padding-left: 1.5rem;
}

ul li {
  margin-bottom: 0.7rem;
  font-size: 1.05rem;
}


.card img {
  border: 1px solid #e2e8f0;
  border-radius: 10px;
  padding: 4px;
  background: #f9fafb;
  transition: transform 0.2s ease;
}

/* Grid container para dividir en 4 cuadrantes */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 1rem;
}

.grid-container > .grid-item {
  padding: 1.2rem;
  background-color: rgba(255, 255, 255, 0.07);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-left: 2px solid #062360; /* Línea vertical izquierda */
  border-top: 2px solid #062360; /* Línea horizontal superior */
  font-size: 0.95rem;
  line-height: 1.5;
}