/* Fondo general */
body {
    background-image: url("/static/Imagenes/ML1.jpg");
    background-size: cover;      
    background-position: center;  
    background-repeat: no-repeat; 
    min-height: 100vh;           
    background-attachment: fixed;
}

/* Cards transparentes */
.card {
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.404); 
    backdrop-filter: blur(6px); 
    -webkit-backdrop-filter: blur(8px);
    color: white; 
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.6);
}

/* Títulos */
.card-title {
    font-weight: bold;
    color: white;
}

/* Botones */
.btn-primary {
    border-radius: 20px;
    font-weight: bold;
}
/* Boton propio de yo*/
.btn-custom {
    position: relative;
    display: inline-block;
    padding: 6px 16px;
    border: 2px solid #ffffff; 
    background: transparent;
    color: #ffffff;
    font-weight: bold;
    overflow: hidden;
    z-index: 1;
    transition: color 0.3s ease; 
    border-radius: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}
/* Animacion del boton*/
.btn-custom::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%; 
    width: 100%;
    height: 100%;
    background: #0260c5;
    z-index: -1;
    transition: left 0.4s ease;
}

.btn-custom:hover {
    color: white; 
    padding: 7px 17px;
    border: 2px solid #ffffff; 
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.4);
}

.btn-custom:hover::before {
    left: 0; 
}