/* Layout pantalla dividida */
.split-screen {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

/* Sección izquierda */
.section-left {
    flex: 1;
    background: url("/static/Imagenes/investi.jpg") no-repeat center center/cover;
    color: white;
    padding: 40px;
    transition: flex 0.5s ease;
}

/* Sección derecha */
.section-right {
    flex: 1;
    background: url("/static/Imagenes/pypy.jpg") no-repeat center center/cover;
    color: white;
    padding: 40px;
    transition: flex 0.5s ease;
}

/* Hover efecto (se expande la sección al pasar el mouse) */
.section-left:hover, .section-right:hover {
    flex: 1.2;
}

.title-link {
    text-decoration: none; /* quitar subrayado */
    color: white; /* texto blanco */
    transition: transform 0.4s ease, color 0.4s ease;
}

.title-link:hover {
    transform: scale(1.1); /* efecto de agrandar */
    color: #e9934d; /* color amarillo suave al pasar el mouse */
}

.title-link2 {
    text-decoration: none; /* quitar subrayado */
    color: white; /* texto blanco */
    transition: transform 0.4s ease, color 0.4s ease;
}

.title-link2:hover {
    transform: scale(1.1); /* efecto de agrandar */
    color: #9411eb; /* color amarillo suave al pasar el mouse */
}