<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa Conceptual A7</title>
    <link rel="stylesheet" href="/static/styleA7_Investigacion.css">
</head>
<body>
    <div class="iframe-container">
    <div class="titulo">Mapa Conceptual: Clasificación en Machine Learning</div>
    <iframe src="https://www.mindmeister.com/maps/public_map_shell/3824558365/clasificaci-n-en-machine-learning?z=auto&no_share=1&no_logo=1" scrolling="auto"></iframe>
    </div>
</body>
</html>
