<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Fraudes Bancarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/styleSantiago.css">
</head>
<body>
    <div class="container mt-5">

        <!-- TITULO -->
        <header class="text-center mb-5">
            <h1 class="fw-bold">Detección de Fraudes Bancarios con ML Supervisado</h1>
        </header>

        <!--  SECCIÓN 1 -->
        <section class="mb-5">
            <div class="card p-4 shadow-lg">
                <h3 class="card-title">¿Qué es el Fraude Bancario?</h3>
                <p>
                    .
                </p>
            </div>
        </section>

        <!--  SECCIÓN 2  -->
        <section class="row g-4 mb-5">
            <!-- Card Izquierda -->
            <div class="col-md-6">
                <div class="card p-4 shadow-lg h-100">
                    <h3 class="card-title">¿Qué es el Machine Learning Supervisado?</h3>
                    <p>
                        .
                    </p>
                </div>
            </div>
            <!-- Card Derecha -->
            <div class="col-md-6">
                <div class="card p-4 shadow-lg h-100">
                    <h3 class="card-title">¿Cómo se aplica en la detección de fraudes?</h3>
                    <p>
                        .
                    </p>
                </div>
            </div>
        </section>

        <!-- SECCIÓN 3 -->
        <section class="row g-4 mb-5">
            <!-- Card Izquierda -->
            <div class="col-md-6">
                <div class="card p-4 shadow-lg h-100">
                    <h3 class="card-title">Casos de Éxito</h3>
                    <ul>
                        <li><b>LISTA:</b> .</li>

                    </ul>
                </div>
            </div>

            <!-- Card Derecha -->
            <div class="col-md-6">
                <div class="card p-4 shadow-lg h-100">
                    <h3 class="card-title">Beneficios del ML Supervisado</h3>
                    <ul>
                        <li>LISTA.</li>
                    </ul>
                </div>
            </div>
        </section>

        <!--  SECCIÓN 4 -->
        <section class="mb-5">
            <div class="card p-4 shadow-lg">
                <h3 class="card-title">Desafíos y Limitaciones</h3>

                <ul>
                    <li>.</li>
                </ul>
            </div>
        </section>

                <!--  SECCIÓN 4 -->
        <section class="mb-5">
            <div class="card p-4 shadow-lg">
                <h3 class="card-title">Referencias</h3>

                <ul>
                    <li><b>.</b></li>
                </ul>
            </div>
        </section>

        <!-- BOTÓN DE REGRESO  -->
        <div class="text-center mt-5">
            <a href="/" class="btn btn-outline-primary">⬅ Volver al inicio</a>
        </div>
    </div>
</body>
</html>

