<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Reconocimiento Facial</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
          crossorigin="anonymous">

  
    <link rel="stylesheet" href="{{ url_for('static', filename='Investigacion.css') }}">
  </head>
  <body class="bg-dark text-light">
    <div class="container mt-5">

     
      <div class="row g-4">

        <!-- Card 1 -->
        <div class="col-md-6">
          <div class="card shadow-lg h-100">
            <div class="card-body text-start">
              <h5 class="card-title fw-bold">REGRESION LINEAL</h5>
              <p class="card-text"><strong>¿QUÉ ES?</strong></p>
              <p class="card-text">
                La regresión lineal es una técnica estadística y de aprendizaje automático utilizada para modelar la relación entre una variable dependiente (también llamada variable de respuesta) y una o más variables independientes (también llamadas predictores o explicativas). Su objetivo principal es encontrar una línea recta que mejor se ajuste a los datos observados, permitiendo predecir el valor de la variable dependiente a partir de los valores de las independientes.
              </p>
              <img src="{{ url_for('static', filename='Imagenes/RL_EJEMPLO.png') }}" 
                   class="d-block mx-auto mt-3 rounded" 
                   style="width: 200px; height: auto;" 
                   alt="Qué es">
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-6">
          <div class="card shadow-lg h-100">
            <div class="card-body text-start">
              <h4 class="fw-semibold">Aplicaciones</h4>
              <p>FUNDAMENTO MATEMATICO:</p>
              <p>En su forma más simple (regresión lineal simple), el modelo se expresa como:</p>

              <p class="text-center">
                𝑌 = 𝛽₀ + 𝛽₁𝑋 + 𝜀
              </p>

              <ul>
                <li><em>Y</em>: variable dependiente</li>
                <li><em>X</em>: variable independiente</li>
                <li>𝛽₀: intercepto (valor de <em>Y</em> cuando <em>X</em> = 0)</li>
                <li>𝛽₁: pendiente (cambio en <em>Y</em> por unidad de cambio en <em>X</em>)</li>
                <li>𝜀: término de error (diferencia entre el valor observado y el predicho)</li>
              </ul>

              <p>En regresión lineal múltiple, se incluyen varias variables independientes:</p>

              <p class="text-center">
                𝑌 = 𝛽₀ + 𝛽₁𝑋₁ + 𝛽₂𝑋₂ + ⋯ + 𝛽ₙ𝑋ₙ + 𝜀
              </p>
            </div>
          </div>
        </div>
      </div>

      
      <!-- Card 3 -->
       <div class="row g-4 mt-3">
        <div class="col-md-12">
          <div class="card shadow-lg h-100">
            <div class="card-body text-start">
              <h3 class="fw-semibold">SUPUESTOS HABITUALES </h3>
              <div class="grid-container">
                <!-- Cuadrante 1 -->
                <div class="grid-item">
                  <h5 class="fw-semibold">LINEALIDAD </h5>
                    <p class="card-text">
                      El valor esperado de la variable dependiente 𝑌 es una función lineal de la variable independiente 𝑋; 
                      es decir, se asume una relación directamente proporcional (más allá del término constante y el coeficiente)
                    </p>
                    <p class="card-text" ><strong> ¿Cómo verificar?</strong>
                      <li class="card-text" > Gráfica de dispersión entre 𝑋 y 𝑌.</li>
                      <li class="card-text" > <strong>Diagrama de residuos vs valores ajustados:</strong>  Debe formarse un “nube” sin patrones evidentes </li>
                    </p>

                    <p class="card-text">
                      <strong>Violaciones:</strong>
                        Se observaría curvatura o patrones sistemáticos en los residuos. <br>
                      <strong>Soluciones:</strong>
                        Aplicar transformaciones (logarítmicas, cuadráticas), o emplear modelos no lineales.
                    </p>
                    <img src="{{ url_for('static', filename='Imagenes/Linealidad_SpH.png') }}" 
                      class="d-block mx-auto mt-3 rounded" 
                      style="width: auto; height: 200px;">
                </div>

                <!-- Cuadrante 2 -->
                <div class="grid-item">
                  <h5 class="fw-semibold">INDEPENDENCIA </h5>
                    <p class="card-text">
                      Los errores (residuales) deben ser independientes entre sí; especialmente crítico en datos temporales o correlacionados
                    </p>
                    <p class="card-text" ><strong> ¿Cómo verificar?</strong>
                      <li class="card-text" > Gráfica de residuos ordenados en función del tiempo. </li>
                      <li class="card-text" > Test de Durbin–Watson para detectar autocorrelación. </li>
                    </p>

                    <p class="card-text">
                      <strong>Violaciones:</strong>
                        Residuales correlacionados secuencialmente. <br>
                      <strong>Soluciones:</strong>
                        Incluir variables temporales, utilizar modelos de series temporales, o ajustar el modelo.
                    </p>
                    <img src="{{ url_for('static', filename='Imagenes/Independencia_SpH.png') }}" 
                      class="d-block mx-auto mt-3 rounded" 
                      style="width: auto; height: 200px;">
                </div>

                <!-- Cuadrante 3 -->
                <div class="grid-item">
                  <h5 class="fw-semibold">HOMOCEDASTICIDAD </h5>
                    <p class="card-text">
                      La varianza de los errores debe ser constante en todos los niveles de 𝑋; si no, hablamos de heterocedasticidad.
                    </p>
                    <p class="card-text" ><strong> ¿Cómo verificar?</strong>
                      <li class="card-text" > <strong>Residuals vs valores ajustados:</strong>  Se espera una distribución uniforme, sin forma de “cono” </li>
                      <li class="card-text" > Pruebas estadísticas como Goldfeld-Quandt para evaluar diferencias en varianzas. </li>
                    </p>

                    <p class="card-text">
                      <strong>Violaciones:</strong>
                        Error con varianza creciente o decreciente. <br>
                      <strong>Soluciones:</strong>
                        Transformaciones (ej. logaritmo), estimación robusta, o modelos de regresión que consideren varianza variable.
                    </p>
                    <img src="{{ url_for('static', filename='Imagenes/Homocedasticidad_SpH.png') }}" 
                      class="d-block mx-auto mt-3 rounded" 
                      style="width: auto; height: 200px;">
                </div>

                <!-- Cuadrante 4 -->
                <div class="grid-item">
                  <h5 class="fw-semibold">NORMALIDAD DEL ERROR </h5>
                    <p class="card-text">
                      Los errores (residuales) deben seguir una distribución normal, especialmente importante para inferencias (intervalos de confianza, pruebas de hipótesis)                      
                    </p>
                    <p class="card-text" ><strong> ¿Cómo verificar?</strong>
                      <li class="card-text" > Histograma o gráfico Q-Q de los residuos. Los puntos deben aproximarse a la línea recta. </li>
                    </p>

                    <p class="card-text">
                      <strong>Violaciones:</strong>
                        Residuos sesgados o con colas pesadas. <br>
                      <strong>Soluciones:</strong>
                        Transformaciones, pruebas no paramétricas, o métodos robustos.
                    </p>
                    <img src="{{ url_for('static', filename='Imagenes/Normalidad_SpH.png') }}" 
                      class="d-block mx-auto mt-3 rounded" 
                      style="width: auto; height: 200px;">
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Referencias -->
      <div class="row g-4 mt-3">
        <div class="col-md-8 offset-md-2">
          <div class="card shadow-lg h-100">
            <div class="card-body text-start">
              <h4 class="fw-semibold">REFERENCIAS</h4>
              <p>
                <li>James, G., Witten, D., Hastie, T., & Tibshirani, R. (2013). An Introduction to Statistical Learning: with Applications in R (Vol. 103). Springer. 
                <li>Montgomery, D. C., Peck, E. A., & Vining, G. G. (2012). Introduction to Linear Regression Analysis (5th ed.). Wiley.
                <li>Assumptions of the Simple Linear Regression Model – CFA, FRM, and Actuarial Exams Study Notes. (25 de febrero de 2021). AnalystPrep. Recuperado de<a href="https://analystprep-com.translate.goog/study-notes/cfa-level-2/assumptions-of-the-simple-linear-regression-model/?_x_tr_sl=en&_x_tr_tl=es&_x_tr_hl=es&_x_tr_pto=tc">https://analystprep-com.translate.goog/study-notes/cfa-level-2/assumptions-of-the-simple-linear-regression-model/?_x_tr_sl=en&_x_tr_tl=es&_x_tr_hl=es&_x_tr_pto=tc</a> 
                <li>Regresión lineal simple: Supuestos. (s.f.). RPubs. Recuperado de <a href="https://rpubs.com/acastro/regresion_lineal_supuestos?utm_source=chatgpt.com">https://rpubs.com/acastro/regresion_lineal_supuestos?utm_source=chatgpt.com</a> 
                <li>10 Diagnósticos parte I | Modelos de Regresión con R. (s.f.). fhernanb.github.io. Recuperado de <a href="https://fhernanb.github.io/libro_regresion/diag1.html">https://fhernanb.github.io/libro_regresion/diag1.html</a>

                </li>
              </p>
              
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
