<!doctype html>
<html lang="es">
  <head>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" 
          crossorigin="anonymous">

  
    <link rel="stylesheet" href="{{ url_for('static', filename='Def_RL.css') }}">
  </head>
  <body class="bg-dark text-light">
    <div class="container mt-5">

     
      <div class="row g-4">

        <!-- Card 1 -->
        <div class="col-md-6">
          <div class="card shadow-lg h-100">
            <div class="card-body text-start">
              <h5 class="card-title fw-bold">DEFINICION</h5>
              <p class="card-text"><strong>REGRESION LOGISTICA</strong></p>
              <p class="card-text">
                La regresión logística es un modelo estadístico utilizado para predecir la probabilidad de que ocurra un evento que tiene dos posibles resultados (por ejemplo, Sí/No, 0/1). A diferencia de la regresión lineal, que predice valores continuos, la regresión logística emplea la función sigmoide (logit) para transformar los valores en una probabilidad entre 0 y 1. Este modelo es ampliamente usado en clasificación binaria, como diagnóstico de enfermedades, detección de fraudes o predicción de abandono escolar.
              </p>
              <img src="{{ url_for('static', filename='Imagenes/REGRESION_LOGISTICA.png') }}" 
                   class="d-block mx-auto mt-3 rounded" 
                   style="width: 200px; height: auto;" >
            </div>
          </div>
        </div>

        <!-- Card 2 -->
        <div class="col-md-6">
          <div class="card shadow-lg h-100">
            <div class="card-body text-start">
              <h4 class="fw-semibold">CONCEPTOS BASICOS</h4>
              
            </div>
          </div>
        </div>
      </div>

      
      <div class="row g-4 mt-3">
        <div class="col-md-8 offset-md-2">
          <div class="card shadow-lg h-100">
            <div class="card-body text-start">
              <h4 class="fw-semibold">REFERENCIAS</h4>
              <p>
                <li>Hosmer, D. W., Lemeshow, S., & Sturdivant, R. X. (2013). Applied logistic regression (3rd ed.). Wiley. https://doi.org/10.1002/9781118548387
<li>
               James, G., Witten, D., Hastie, T., & Tibshirani, R. (2021). An introduction to statistical learning: with applications in R and Python (2nd ed.). Springer. https://doi.org/10.1007/978-1-0716-1418-1
</li>
              </p>
              
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>
